services:
  nextapp:
    container_name: nextapp
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: http://127.0.0.1:8080
    ports:
      - "3000:3000"
    depends_on:
      - goapp
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
  goapp:
    container_name: goapp
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: 'postgres://postgres:postgres@db:5432/postgres?sslmode=disable'
      JWT_KEY: '6f885314-9376-4914-9492-350e97398c73'
      JWT_VALIDITY_DAYS: '30'
      EMAIL_PORT: 465
      EMAIL_HOST:
      EMAIL_USERNAME:
      EMAIL_PASSWORD:
      EMAIL_FROM:
      GOOGLE_CLIENT_ID:
      GOOGLE_CLIENT_SECRET:
      FACEBOOK_CLIENT_ID:
      FACEBOOK_CLIENT_SECRET:
      BACKEND_URL: http://127.0.0.1:8080
      FRONTEND_URL: http://127.0.0.1:3000
    ports:
      - '8080:8080'
    depends_on:
      - db
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
  db:
    container_name: db
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
  web:
    build: ./nginx
    volumes:
      - type: bind
        source: ./nginx/nginx.conf
        target: /etc/nginx/conf.d/default.conf
        read_only: true
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - web-root:/tmp/acme-challenge
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - goapp
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - web-root:/tmp/acme-challenge
    depends_on:
      - web
    command: certonly --webroot --webroot-path=/tmp/acme-challenge --email irradiacao@heliogabriel.com --agree-tos --no-eff-email --staging -d irradiacao.heliogabriel.com
volumes:
  pgdata: {}
  certbot-etc:
  certbot-var:
  web-root:
